page-challenge {
  .actions {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: #3fda4a;
    }
  }

  .icons {
    text-align: center;
    font-size: 5em;
  }

  .toolbar-background {
    background-color: #3fda4a;
  }

  .title {
    color: #10d240;
  }

  .challenge {
    background-color: #3af199;
  }
}
