page-login {
  .actions {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: #38c98d;
    }
  }

  .toolbar-background {
    background-color: #38c98d;
  }

  .login {
    background-color: #3af199;
  }
}
