page-login {
  .actions {
    text-align: center;
    margin-top: 10px;

    button {
      background-color: #38c98d;
    }
  }

  .links {
    text-align: right;
    margin-top: 5px;
    font-size: 18px;

    button{
      color: #4237f4;
    }
  }

  .toolbar-background {
    background-color: #38c98d;
  }

  .title {
    color: #31936a;
  }

  .login {
    background-color: #3af199;
  }
}
