page-login {
  .actions {
    text-align: center;
    margin-top: 10px;

    button {
      // background-color: #f59f3a;
      border: solid 1px #24844b;
      background: #26a65b;
      -webkit-box-shadow: 0px 5px 0px 0px #24844b;
      box-shadow: 0px 5px 0px 0px #24844b;
      transition: all 0s ease-out;
      height: 40px;
      display: block;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      padding: 0 20px;
      margin: 10px auto;
      // left: 30px;
      position: relative;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      width: 90%;

      &:active {
        border: solid 1px #24844b;
        background: #26a65b;
        -webkit-box-shadow: 0px 1px 0px 0px #24844b;
        box-shadow: 0px 2px 0px 0px #24844b;
        -webkit-transition: all 0s ease-out;
        -moz-transition: all 0s ease-out;
        -o-transition: all 0s ease-out;
        -ms-transition: all 0s ease-out;
      }
    }
  }

  .links {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;

    button{
      color: #4237f4;
    }
  }

  .title {
    color: #41ba9b;
  }

  .toolbar-background {
    background-color: #a2ded0;
  }

  .title {
    color: #31936a;
  }

  .login {
    background-color: #a2ded0;
  }
}
