page-register {
  .actions {
    // text-align: center;
    // margin-top: 20px;


    button {
      // background-color: #f59f3a;
      border: solid 1px #2E4476;
      background: #3B5999;

      -webkit-box-shadow: 0px 5px 0px 0px #2E4476;
      box-shadow: 0px 5px 0px 0px #2E4476;


      transition: all 0s ease-out;
      height: 35px;
      display: block;
      font-family: Arial, "Helvetica", sans-serif;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      padding: 4px 20px 0;
      margin: 10px auto;
      // left: 30px;
      position: relative;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
    button:active {
      border: solid 1px #2E4476;
      background: #3B5999;
      -webkit-box-shadow: 0px 1px 0px 0px #2E4476;
    	box-shadow: 0px 2px 0px 0px #2E4476;
      -webkit-transition: all 0s ease-out;
      -moz-transition: all 0s ease-out;
      -o-transition: all 0s ease-out;
      -ms-transition: all 0s ease-out;
    }
  }

  .toolbar-background {
    background-color: #f59f3a;
  }

  .register {
    background-color: #f1be3a;
  }

  .margin {
    margin: 10px 0;
  }
}
