page-register {
  .actions {
    text-align: right;
    margin-top: 20px;

    button {
      background-color: #f59f3a;
    }
  }

  .toolbar-background {
    background-color: #f59f3a;
  }

  .register {
    background-color: #f1be3a;
  }
}
