<div class="omb_login">
  <h1 class="omb_authTitle">Register</h1>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
      <div class="alert alert-danger" *ngIf="message">
        {{message}}
      </div>
      <form class="omb_loginForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          <input required type="text" [(ngModel)]="user.firstname" class="form-control"
                name="firstname" placeholder="Ingrese nombre" #firstname="ngModel">
        </div>
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          Firstname is Required
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
          <input required type="text" [(ngModel)]="user.lastname" class="form-control"
                name="lastname" placeholder="Ingrese apellidos" #lastname="ngModel">
        </div>
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Lastname is Required
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input required type="text" [(ngModel)]="user.username" class="form-control"
                name="username" placeholder="Ingrese nombre de usuario" #username="ngModel">
        </div>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          Username is Required
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <select class="form-control" name="gender" required [(ngModel)]="user.gender" #gender="ngModel">
            <option value="f" selected="true">Femenino</option>
            <option value="m">Masculino</option>
            <option value="o">Otro</option>
          </select>
        </div>
        <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
          Gender is Required
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input required type="email" [(ngModel)]="user.email" class="form-control"
                name="email" placeholder="email address" #email="ngModel">
        </div>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is Required
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input required type="password" [(ngModel)]="user.password" class="form-control"
                name="password" placeholder="Password" #password="ngModel">
        </div><br>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Password is Required
        </div><br>

        <button class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.form.valid" type="submit">
          Register
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4 class="text-center">
        <br><a routerLink="/login">Login</a>
      </h4>
    </div>
  </div>
</div>
