<div class="text-center">
  <h2>Retos</h2>
  <i id="ch" class="fa fa-gamepad" aria-hidden="true"></i>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="col-xs-6 col-sm-6">
      <h3>Retadores</h3>
    </div>
    <div class="col-xs-6 col-sm-6">
      <h3>Aceptar/Rechazar</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 users" *ngFor="let user of users | async">
    <div class="col-xs-6 col-sm-6">
      <h4>{{user.username}}</h4>
    </div>
    <div class="col-xs-6 col-sm-6 small">
      <a class="btn btn-success" routerLink="/challenges/1">
        <i class="fa fa-check" aria-hidden="true"></i>
      </a>
      <a class="btn btn-danger" (click)="rejectChallenge()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 btn-ch">
    <h4>¿Deseas retar a un amigo?</h4>
    <button class="btn btn-info" (click)=createChallenge()>Retar!</button>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div [hidden]="!newChallenge">
      <div class="alert alert-danger" *ngIf="message">
        {{message}}
      </div>
      <form class="omb_loginForm" #challengeForm="ngForm">
        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <select class="form-control" name="subject" required>
            <option value="t1" selected="true">Tema 1</option>
            <option value="t2">Tema 2</option>
            <option value="t3">Tema 3</option>
          </select>
        </div>
        <!-- <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
          Subject is Required
        </div> -->

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <select class="form-control" name="user" required>
            <option value="usr1" selected="true">Usuario 1</option>
            <option value="usr2">Usuario 2</option>
            <option value="usr3">Usuario 3</option>
          </select>
        </div>
        <!-- <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
          Subject is Required
        </div> -->

        <button class="btn btn-lg btn-primary btn-block" [disabled]="!challengeForm.form.valid" type="submit">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
