<div class="text-center">
  <h1>Retos</h1>
  <i id="ch" class="fa fa-gamepad" aria-hidden="true"></i>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="col-xs-6 col-sm-6">
      <h3>Retadores</h3>
    </div>
    <div class="col-xs-6 col-sm-6">
      <h3>Aceptar/Rechazar</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 users" *ngFor="let user of users">
    <div class="col-xs-6 col-sm-6">
      <h4>{{user.username}}</h4>
    </div>
    <div class="col-xs-6 col-sm-6 small">
      <a class="btn btn-success" routerLink="/challenges/1">
        <i class="fa fa-check" aria-hidden="true"></i>
      </a>
      <a class="btn btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 btn-ch">
    <h4>¿Deseas retar a un amigo?</h4>
    <button class="btn btn-info" (click)=createChallenge()>Retar!</button>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div [hidden]="!toDoChallenge">
      <div class="alert alert-danger" *ngIf="message">
        {{message}}
      </div>
      <form class="omb_loginForm" #challengeForm="ngForm" (ngSubmit)="saveChallenge()">
        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <select class="form-control" name="subject" required [(ngModel)]="challenge.uid" #subject="ngModel">
            <option [value]="available.uid" *ngFor="let available of availables">
              {{available.username}}
            </option>
          </select>
        </div>
        <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
          User is Required
        </div>

        <div class="input-group form-group">
          <span class="input-group-addon"><i class="fa fa-gavel" aria-hidden="true"></i></span>
          <select class="form-control" name="level" [(ngModel)]="challenge.level" required #level="ngModel">
            <option value="easy" selected="true">Fácil</option>
            <option value="intermediate">Intermedio</option>
            <option value="hard">Difícil</option>
          </select>
        </div>
        <div [hidden]="level.valid || level.pristine" class="alert alert-danger">
          Level is Required
        </div>

        <button class="btn btn-lg btn-primary btn-block" [disabled]="!challengeForm.form.valid" type="submit">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
