@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
	opacity:0.9;
}

.omb_login .omb_socialButtons a:hover {
  color: white;
	opacity:1;
}

.omb_login .omb_socialButtons .omb_btn-facebook { background: #3b5998; }
.omb_login .omb_socialButtons .omb_btn-twitter { background: #00aced; }
.omb_login .omb_socialButtons .omb_btn-google { background: #c32f10; }

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm .help-block {
  color: red;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
		margin-top:10px;
 	}
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#ch {
  font-size: 8rem;
}

.small button {
  display: inline-block;
  font-size: 2rem;
  max-width: 50px;
  max-height: 50px;
}

.users {
  margin: 8px 0;
}

.btn-ch {
  margin-bottom: 10px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #449930;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  color: #449930;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.fa-gamepad {
  color: #fff;
}

.btn-info {
  font-size: 2em;
  font-weight: bold;
  background: #4183D7;
  border: solid 1px #446CB3;
  -webkit-box-shadow: 0px 5px 0px 0px #446CB3;
  box-shadow: 0px 5px 0px 0px #446CB3;
  transition: all 0s ease-out;
  padding: 5px;
}

.btn-info:hover {
  border: solid 1px #446CB3;
  background: #2574A9;
  -webkit-box-shadow: 0px 1px 0px 0px #446CB3;
  box-shadow: 0px 2px 0px 0px #446CB3;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
}

.btn-success {
  font-size: 2em;
  font-weight: bold;
  background: #03C9A9;
  border: solid 1px #24844b;
  -webkit-box-shadow: 0px 5px 0px 0px #24844b;
  box-shadow: 0px 5px 0px 0px #24844b;
  transition: all 0s ease-out;
  padding: 5px;
}

.btn-success:hover {
  border: solid 1px #24844b;
  background: #26a65b;
  -webkit-box-shadow: 0px 1px 0px 0px #24844b;
  box-shadow: 0px 2px 0px 0px #24844b;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
}

.btn-danger {
  font-size: 2em;
  font-weight: bold;
  background: #EF4836;
  border: solid 1px #c32f10;
  -webkit-box-shadow: 0px 5px 0px 0px #c32f10;
  box-shadow: 0px 5px 0px 0px #c32f10;
  transition: all 0s ease-out;
  padding: 5px;
}

.btn-danger:hover {
  border: solid 1px #c32f10;
  background: #D64541;
  -webkit-box-shadow: 0px 1px 0px 0px #c32f10;
  box-shadow: 0px 2px 0px 0px #c32f10;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
}

#ch {
  font-size: 11rem;
}

.input-group .form-control:last-child {
  background: #eee !important;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 1.3em;
  font-weight: bold;
  box-shadow: none;
}

.input-group-addon:first-child {
  background: #eee !important;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  box-shadow: none;
}

.alert {
  font-size: 1.5em;
  padding: 5px;
}

.btn-primary {
  font-size: 2em;
  font-weight: bold;
  background: #4183D7;
  border: solid 1px #446CB3;
  -webkit-box-shadow: 0px 5px 0px 0px #446CB3;
  box-shadow: 0px 5px 0px 0px #446CB3;
  transition: all 0s ease-out;
  padding: 5px;
}

.btn-primary:hover {
  border: solid 1px #446CB3;
  background: #2574A9;
  -webkit-box-shadow: 0px 1px 0px 0px #446CB3;
  box-shadow: 0px 2px 0px 0px #446CB3;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
}
