page-home {
  .actions {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: #f558d2;
    }
  }

  .toolbar-background {
    background-color: #f558d2;
  }

  .home {
    background-color: #fe86d5;
  }

  .logo {
    text-align: center;
  }
}
