<div class="container">
  <nav class="navbar navbar-default navbar-static-top" *ngIf="isLogin; else defaultMenu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/slogan.png" alt="" style="width: 120px; padding: 0; margin: 0;"></a>
      </div>
      <ul class="nav navbar-nav">
        <li [class.active]="router.url === '/'"><a routerLink="/">hola</a></li>
        <li [class.active]="router.url === '/user/profile'"><a routerLink="user/profile">Perfile</a></li>
        <li [class.active]="router.url === '/challenges/list'"><a routerLink="challenges/list">Retos</a></li>
        <li [class.active]="router.url === '/scores'"><a routerLink="scores">Puntos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [class.active]="router.url === '/user/create'">
          <a routerLink="user/profile">
             {{auth.currentUser?.username}}
          </a>
        </li>
        <li [class.active]="router.url === '/logout'">
          <a (click)="signOut()">
            Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <ng-template #defaultMenu>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/"><img src="assets/img/slogan.png" alt="" style="width: 120px; padding: 0; margin: 0;"></a>
        </div>
        <ul class="nav navbar-nav">
          <li [class.active]="router.url === '/'"><a routerLink="/">Hola</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li [class.active]="router.url === '/user/create'"><a routerLink="user/create">Crear Usuario</a></li>
          <li [class.active]="router.url === '/login'"><a routerLink="login">Entrar</a></li>
        </ul>
      </div>
    </nav>
  </ng-template>
  <div class="row">
    <div class="text-center">
      <flash-messages></flash-messages>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
