page-reset-password {
  .actions {
    text-align: center;
    margin-top: 20px;

    button {
      // background-color: #f59f3a;
      border: solid 1px #bf951f;
      background: #f7ca18;
      -webkit-box-shadow: 0px 5px 0px 0px #bf951f;
      box-shadow: 0px 5px 0px 0px #bf951f;
      transition: all 0s ease-out;
      height: 40px;
      display: block;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      padding: 0 20px;
      margin: 10px auto;
      // left: 30px;
      position: relative;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      width: 90%;

      &:active {
        border: solid 1px #bf951f;
        background: #f7ca18;
        -webkit-box-shadow: 0px 1px 0px 0px #bf951f;
        box-shadow: 0px 2px 0px 0px #bf951f;
        -webkit-transition: all 0s ease-out;
        -moz-transition: all 0s ease-out;
        -o-transition: all 0s ease-out;
        -ms-transition: all 0s ease-out;
      }
    }
  }

  .toolbar-background {
    background-color: #3af199;
  }

  .title {
    color: #17b682;
  }

  .reset-password {
    background-color: #3af199;
  }
}
