page-reset-password {
  .actions {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: #38c98d;
    }
  }

  .toolbar-background {
    background-color: #38c98d;
  }

  .title {
    color: #17b682;
  }

  .reset-password {
    background-color: #3af199;
  }
}
