.glyphicon-user {
  font-size: 10em;
}

.center {
  text-align: center;
}

.stars {
  font-size: 3em;
  color: #d9b125;
}

.icons {
  font-size: 10em;
}

.flash {
  color: #f25b23;
}

.school {
  color: #e0b314;
}

.glyphicon-user {
  color: #7c3552;
}

.navbar-nav {
  color: #eee;
}

.navbar-default .navbar-nav>.active>a {
  background: transparent;
  font-weight: bold;
}
