<div class="center">
  <!-- <span class="glyphicon glyphicon-user"></span> -->
  <h1>{{auth.currentUser?.username}}</h1>
  <a routerLink="/user/edit" class="btn btn-link">Editar Perfil</a>
</div>
<div class="stars center">
  <h2>Estadístiscas</h2>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
</div>

<div class="row">
  <div class="col-sm-6">
    <ul>
      <li *ngFor="let item of data1;">
        <div class="info" [style.backgroundColor]="item.color"></div>
        <h4>{{item.name}}</h4>
      </li>
    </ul>
    <svg height="80%" width="80%" [attr.viewBox]="viewBox">
      <g>
        <circle *ngFor="let item of data1;let i=index" [attr.cx]="center"
         [attr.cy]="center" [attr.r]="radius" fill="transparent" [attr.stroke-width]="width"
         [attr.stroke-dasharray]="perimeter" [attr.stroke-dashoffset]="getOffset(i, data1)" [attr.stroke]="item.color"/>
      </g>
      <g>
        <text [attr.fill]="fontColor" [attr.font-size]="fontSize" text-anchor="middle" [attr.x]="center" [attr.y]="center">
          <tspan [attr.x]="center" dy="0">Juegos</tspan>
         </text>
      </g>
    </svg>
  </div>

  <div class="col-sm-6">
    <ul>
      <li *ngFor="let item of data2;">
        <div class="info" [style.backgroundColor]="item.color"></div>
        <h4>{{item.name}}</h4>
      </li>
    </ul>
    <svg height="80%" width="80%" [attr.viewBox]="viewBox">
      <g>
        <circle *ngFor="let item of data2;let i=index" [attr.cx]="center"
         [attr.cy]="center" [attr.r]="radius" fill="transparent" [attr.stroke-width]="width"
         [attr.stroke-dasharray]="perimeter" [attr.stroke-dashoffset]="getOffset(i, data2)" [attr.stroke]="item.color"/>
      </g>
      <g>
        <text [attr.fill]="fontColor" [attr.font-size]="fontSize" text-anchor="middle" [attr.x]="center" [attr.y]="center">
          <tspan [attr.x]="center" dy="0">Niveles</tspan>
         </text>
      </g>
    </svg>
  </div>
</div>
