<div class="center">
  <span class="glyphicon glyphicon-user"></span>
  <h3>{{auth.currentUser?.username}}</h3>
  <a routerLink="/user/edit" class="btn btn-link">Editar Perfil</a>
</div>
<div class="stars center">
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
</div>
<div class="icons center">
  <span class="glyphicon glyphicon-flash flash"></span>
  <span class="glyphicon glyphicon-education school"></span>
</div>
