.glyphicon-user {
  font-size: 10em;
}

.center {
  text-align: center;
}

.stars {
  font-size: 3em;
  color: #d9b125;
}

.icons {
  font-size: 10em;
}

.flash {
  color: #f25b23;
}

.school {
  color: #e0b314;
}
