<div class="center">
  <span class="glyphicon glyphicon-user"></span>
  <h3>{{auth.currentUser?.username}}</h3>
  <a routerLink="/user/edit" class="btn btn-link">Editar Perfil</a>
</div>
<div class="stars center">
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
</div>
<div class="icons center">
  <div class="row">
    <div class="col-sm-6">
      <canvas baseChart
        [data]="doughnutChartData1"
        [labels]="doughnutChartLabels1"
        [chartType]="doughnutChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <div class="col-sm-6">
      <canvas baseChart
        [data]="doughnutChartData2"
        [labels]="doughnutChartLabels2"
        [chartType]="doughnutChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
    </div>
  </div>
</div>
