page-game {
  .icon {
    text-align: center;
    ion-icon {
      font-size: 12rem;
    }
  }

  .toolbar-background {
    background-color: #7333da;
  }

  .title {
    color: #7c15e0;
  }

  .game {
    background-color: #a26be8;
  }
}
