#cup {
  font-size: 11rem;
  color: #fff;
}

.card {
  /*display: inline-block;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  transition: 0.3s;
  width: 100%;
  text-align: center;
  /*border-radius: 5px;*/
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.big {
  font-size: 5rem;
}

.topics {
  margin-bottom: 25px;
}

.topics .card {
  /*width: 30%;*/
  cursor: pointer;
  background-color: #fbcfb6;
  margin-bottom: 5px;
}

.scores .card {
  /*width: 80%;*/
  background-color: #ec7ca2;
  margin: 8px 0;
}

.profile {
  display: inline-block;
  margin-right: 25px;
}

.user {
  display: inline-block;
}

.user i {
  font-size: 4rem;
  color: #eca70e;
}

.icon {
  font-size: 8rem;
}

#easy {
  background-color: #87D37C;
  width: 100%;
  padding: 10px;
  color: #fff;
}

#intermediate {
  background-color: #F5D76E;
  width: 100%;
  padding: 10px;
  color: #fff;
}

#hard {
  background-color: #EF4836;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.profile {
  padding: 10px;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #ec7ca2;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  color: #ec7ca2;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  color: #ec7ca2;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  color: #fff;
  font-size: 2em;
}


.icon, .big {
  color: #fff;
}
